<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>

        <!-- Application Loggers-->
        <Logger name="spittr" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- 3rd party Loggers -->
        <Logger name="org.springframework.core" level="INFO"/>
        <Logger name="org.springframework.beans" level="INFO"/>
        <Logger name="org.springframework.context" level="INFO"/>
        <Logger name="org.springframework.web" level="INFO"/>

        <!-- Root Logger -->
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>